header {
    position: relative;
    overflow: hidden;
    background-color: #aacbd4;
}

li {
    display: inline;
    margin: 0 10px;
  }

  ul {
    float: right
     }

footer {
        position: relative;
        overflow: hidden;
        background-color: #aacbd4;
    }